.flex{
    display: flex;
}
.justify-center{
    justify-content: center;
}
.align-center{
    align-items: center;
}
.grey{
    filter: invert(35%);
}
button,a{
    cursor: pointer;
}
.like-btn-img{
    filter: grayscale(110%);
    height:25px ;
}
.show{
    display: block;
}
.hide{
    display: none;
    transition: display 0.5s ease-out;
}
.profile img{
    background: none;
    border: none;
    border-radius: 50%;
}